:root {
  --header-bg-color: #ff4d4d;
  --content-text-color: #e60000;
  --body-bg-color: #5bd7d7;
  --nav-button-color: #3dcfcf;
  --content-font: "diner-style";
}

@font-face {
  font-family: "diner-style";
  src: url(./HamburgerHeavenNF.ttf);
}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  background-color: var(--body-bg-color);
}

#content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  justify-content: center;
  background-color: var(--body-bg-color);
}

.restaurant-nav {
  width: 100vw;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--header-bg-color);
}

.restaurant-nav button {
  margin-top: auto;
  width: 120px;
  height: 60px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  text-shadow: 3px 3px 5px rgb(36, 143, 143);
  color: #ffffff;
  background-color: var(--nav-button-color);
}

.restaurant-nav .active-button {
  background-color: var(--body-bg-color);
}

h1,
h2 {
  text-align: center;
  font-family: var(--content-font);
  font-size: 3rem;
  color: var(--content-text-color);
}

h2 {
  font-size: 2.5rem;
}

.content-section {
  margin-top: 30px;
}

.home-section {
  display: grid;
  grid-template: repeat(2, minmax(300px, 350px)) / repeat(
      2,
      minmax(500px, 510px)
    );
  grid-gap: 70px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 5%;
}

.body-text {
  display: flex;
  color: #e9e9e9;
  font-family: var(--content-font);
  font-size: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

footer a {
  color: var(--content-text-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1150px) {
  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-section {
    grid-template: repeat(4, 1fr) / 1fr;
    grid-gap: 0;
    margin: 0 200px;
  }

  .body-text {
    text-align: center;
    font-size: 3rem;
  }

  .para-2 {
    grid-row: 4/5;
  }

  footer {
    padding: 40px;
  }
}
